<h3>Emergency Types</h3>
<mat-card class="table-container mat-elevation-z0">
  <table mat-table [dataSource]="emergencyTypes" class="mat-elevation-z0">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element" (click)="editItem(element)">
        {{ element.name }}
      </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef align="right">Actions</th>
      <td mat-cell *matCellDef="let element" align="right">
        <button
          mat-icon-button
          class="delete-icon"
          aria-label="Delete an item"
          (click)="deleteItem(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>

<button
  mat-mini-fab
  class="fab-back"
  color="secondary"
  aria-label="New repair type"
  routerLink="/home"
>
  <mat-icon>arrow_back</mat-icon>
</button>

<button
  mat-mini-fab
  class="fab-new"
  aria-label="New repair type"
  (click)="newEmergencyType()"
>
  <mat-icon>add</mat-icon>
</button>
