<div class="form-container">
  <h1>Grocery Item</h1>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input [(ngModel)]="item.name" matInput placeholder="Grocery Item Name" />
    <mat-hint>Name of grocery item</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Grocery Item Type</mat-label>
    <input [(ngModel)]="item.type" matInput placeholder="Grocery Item Name" />
    <mat-hint>Type of grocery item</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    cdkFocusInitial
    color="primary"
    (click)="saveGroceryItem()"
  >
    Save
  </button>
</div>
