.menu-container {
  display: grid;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  .button-container {
    padding: 0 rem 0.5rem;
    display: flex;
    flex: 1;
    mat-card {
      margin: 0.5rem;
      padding: 1rem;
      width: 100%;
      height: 120px;
      color: #41907d;
      border-radius: 18px;
      mat-icon {
          position: absolute;
          right: 1rem;
      }
      span {
          position: absolute;
          bottom: 1rem;
      }
      img {
        width: 100px;
      }
    }
  }
}

@media screen and (min-width: 720px) {
    .menu-container {
        display: flex;
    }
}
