

<div class="menu-container">
  <div class="button-container">
    <mat-card matRipple routerLink="/admin-flats">
      <mat-icon>maps_home_work</mat-icon>
      <span>Flats</span>
    </mat-card>
    <mat-card matRipple routerLink="/admin-users">
      <mat-icon>self_improvement</mat-icon>
      <span>Users</span>
    </mat-card>
  </div>
  <div class="button-container">
    <mat-card matRipple routerLink="/admin-groceries">
      <mat-icon>local_grocery_store</mat-icon>
      <span>Grocery Items</span>
    </mat-card>
    <mat-card matRipple routerLink="/admin-repairs">
      <mat-icon>hearing</mat-icon>
      <span>Request</span>
    </mat-card>
  </div>
  <div class="button-container">
    <mat-card matRipple routerLink="/admin-requests">
      <mat-icon>directions_run</mat-icon>
      <span>Emergency</span>
    </mat-card>
    <mat-card matRipple routerLink="/admin-emergencies">
      <mat-icon>handyman</mat-icon>
      <span>Repair</span>
    </mat-card>
  </div>
  
</div>