<div class="login-container">
    
    <div class="login-card">
        <div class="logo-container">
            <img src="https://heihomes.co/selfhelp/assets/img/hei-homes-logo.png" alt="" srcset="" class="logo">
        </div>
        <mat-card-content>
            <div class="input-container">
                <mat-form-field appearance="outline">
                    <mat-label>Mobile Number*</mat-label>
                    <input type="text" matInput placeholder="Phone number" [(ngModel)]="loginCredentials.phone">
                    <mat-icon matSuffix>call</mat-icon>
                    <mat-hint>Please don't include the area code.</mat-hint>
                  </mat-form-field>
            </div>
            <div class="input-container">
                <mat-form-field appearance="outline">
                    <mat-label>Password*</mat-label>
                    <input type="password" matInput placeholder="Password" [(ngModel)]="loginCredentials.password">
                    <mat-icon matSuffix>lock</mat-icon>
                  </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-button class="login-btn" (click)="login()">LOGIN</button>
        </mat-card-actions>
    </div>
</div>
