.login-container {
  width: 100%;
  height: 100vh;
  background: url(../assets/img/livingroom.jpg);
  background-size: cover;

  .login-card {
    width: 300px;
    height: 100%;
    max-width: 450px;
    position: absolute;
    right: 0;
    background: #ffffff;
    .logo-container {
      text-align: center;
      padding-top: 50%;
      padding-bottom: 2rem;
      .logo {
        width: 150px;
        margin: auto;
      }
    }
    .input-container {
      padding-right: 1rem;
      padding-left: 1rem;
      mat-form-field {
        width: 100%;
      }
    }
    .login-btn {
      width: 100%;
      margin: 1rem auto 1.5rem auto;
    }
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .login-container {
    background-position-x: center;
    .login-card {
      width: 300px;
      left: 50%;
      margin-left: -150px;
      height: auto;
      background: rgba(255, 255, 255, 0.5);
      top: 10%;

      .logo-container {
        padding-top: 2rem;
      }
    }
  }
}
