.table-container {
    margin: 1rem;
    border: solid 1px #41907D;
    border-radius: 18px;
    margin-bottom: 5rem;
    table {
        width: 100%
    }
}

h3 {
    text-align: center;
    color: #41907D;
}

.fab-back {
    position: fixed;
    bottom: 3rem;
    left: 2rem ;
    background-color: #da627d;
    color: #ffffff;
}

.fab-new {
    position: fixed;
    bottom: 3rem;
    right: 2rem ;
    background-color: #da627d;
}

.delete-icon {
    color: #da627d;
}