<mat-toolbar class="toolbar" color="white" *ngIf="router.url != '/login'">
    <mat-toolbar-row>
      <img class="logo" src="https://heihomes.co/selfhelp/assets/img/hei-homes-logo.png" alt="">
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="user-label" routerLink="/home">Hi Nissi!</span>
        <mat-icon [matMenuTriggerFor]="menu" class="account-icon" aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/login">
              <mat-icon>logout</mat-icon>
            Logout</button>
          <button mat-menu-item>
            <mat-icon>manage_accounts</mat-icon>
            My Account</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
