.toolbar {
  background-color: #fff;
}

.user-label {
  color: #da627d;
}

.logo {
  width: 150px;
  position: absolute;
  right: 1rem;
}

.account-icon {
  font-size: 2rem;
  color: #41907d;
  position: absolute;
  right: 2rem;
}
.account-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .toolbar {
    color: #41907d;
  }
}

