<h3>Repair Types</h3>
<mat-card class="table-container mat-elevation-z0">
    <table mat-table [dataSource]="repairTypes" class="mat-elevation-z0">
  
      <!-- Name Column -->
     <ng-container matColumnDef="name">
       <th mat-header-cell *matHeaderCellDef>Repair Name </th>
       <td mat-cell *matCellDef="let element"  (click)="editItem(element)"> {{element.name}} </td>
     </ng-container>

     <!-- Price Column -->
     <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price Range </th>
      <td mat-cell *matCellDef="let element"> {{element.price_range}} </td>
    </ng-container>
   
     <!-- Type Column -->
     <ng-container matColumnDef="action">
       <th mat-header-cell *matHeaderCellDef> Action </th>
       <td mat-cell *matCellDef="let element"> 
        
        <button mat-icon-button aria-label="Delete an item" (click)="deleteItem(element.id)">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </td>
     </ng-container>
   
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>

  </mat-card>
  <button mat-mini-fab class="fab-back" color="secondary" aria-label="New repair type" routerLink="/home">
    <mat-icon>arrow_back</mat-icon>
  </button>
  
  <button mat-mini-fab class="fab-new" color="primary" aria-label="New repair type" (click)="newRepairType()">
    <mat-icon>add</mat-icon>
  </button>