/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: url(https://heihomes.co/selfhelp/assets/img/plants.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary {
    color: #408d7b;
}